Session.vim
.local.vimrc
.DS_Store
*.pyc
*.pot
*~
buildoutcache/dlcache/*
!buildoutcache/dlcache/.keep
buildoutcache/eggs/*
!buildoutcache/eggs/.keep
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
*.egg-info/
venv/
